@font-face {
    font-family: "Sana Sans Alt W00 Regular";
    src: url("https://db.onlinewebfonts.com/t/d676911db6699aa6748801b8ef3cd8b9.eot");
    src: url("https://db.onlinewebfonts.com/t/d676911db6699aa6748801b8ef3cd8b9.eot?#iefix") format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/d676911db6699aa6748801b8ef3cd8b9.woff2") format("woff2"),
    url("https://db.onlinewebfonts.com/t/d676911db6699aa6748801b8ef3cd8b9.woff") format("woff"),
    url("https://db.onlinewebfonts.com/t/d676911db6699aa6748801b8ef3cd8b9.ttf") format("truetype"),
    url("https://db.onlinewebfonts.com/t/d676911db6699aa6748801b8ef3cd8b9.svg#Sana Sans Alt W00 Regular") format("svg");
}

.header {
    -webkit-text-size-adjust: 100%;
    --livewire-progress-bar-color: #2299dd;
    font-family: "Sana Sans Alt W00 Regular", sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 1.7;
    color: #3e3e3e;
    font-size: 1em;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1004;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    background: #ffffff;
    border-bottom: 2px solid #e6e6e6;
    height: 3.55em;
}

.element-class {
    font-family: "Sana Sans Alt W00 Regular", sans-serif;
    font-weight: 500;
}

.left-toolbar {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 55px;
    height: 53px;
    margin: 0;
    padding: 0;
    position: relative;
    top: 6px;
    left: 0px;
    margin-right: 10px;
}

/* Class for the numbers to always be teal */
.toolbar-numbers {
    color: #0093a2 !important;
}

.activities, .members {
    margin-right: 20px;
    margin-top: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.5px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Links styling for "Activities" and "Members" */
.activities a, .members a {
    color: #333;
    text-decoration: none;
}

/* Hover effect for the words */
.activities a:hover, .members a:hover {
    color: #0093a2 !important;
}

/* Ensuring visited links for "Activities" and "Members" stay dark grey */
.activities a:visited, .members a:visited {
    color: #333;
}

.help-link {
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
    color: #333;
    text-decoration: none;
}

.help-link:hover {
    color: #0093a2;
}

/* Center the search bar in the toolbar */
.center-toolbar {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.search-input {
    padding: 5px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 15px;
    width: 250px;
    margin-left: 10px;
}

.search-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
}

.search-button img {
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
}

/* Crisis button styles */
.crisis-button {
    background-color: #df0000;
    border: 2px solid #df0000;
    color: white;
    font-family: 'Hind', sans-serif;
    font-size: 15px;
    line-height: 23px;
    padding: 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 300;
    display: flex;
    align-items: center;
    transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1), color 0.3s cubic-bezier(0.5, 1.5, 0.5, 1), stroke 0.3s ease;
}


.crisis-button span {
    margin-left: 10px;
    transition: stroke 0.3s ease, color 0.3s cubic-bezier(0.5, 1.5, 0.5, 1);
}

.exclamation-triangle svg {
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
    transition: stroke 0.3s cubic-bezier(0.5, 1.5, 0.5, 1), color 0.3s ease;
}

/* Hover effect: change to white background, red text */
.crisis-button:hover {
    background-color: white;
    color: #df0000;
}

.crisis-button:hover .exclamation-triangle svg {
    stroke: #df0000;
}

.crisis-button:hover span {
    color: #df0000;
}

/* Adjusting the right toolbar */
.right-toolbar {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
