.customScrollbar {
  scrollbar-width: thin;
  scrollbar-color: #0093a4 transparent;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #0093a4;
    border-radius: 20px;
    border: 3px solid transparent;
  }
}


  .customScrollbarRed {
    scrollbar-width: thin;
    scrollbar-color: #0093a4 transparent; /* Red scrollbar for Firefox */
  
    &::-webkit-scrollbar {
      width: 8px;
    }
  
    &::-webkit-scrollbar-track {
      background: transparent;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #0093a4; /* Red scrollbar thumb */
      border-radius: 20px;
      border: 3px solid transparent;
    }
  }
  
  